<div class='footer row'>
  <div class='footer-logos'>
    <a target="_blank" href='mailto:sgraham535@gmail.com'>
    <img class='logo email-logo' src="{{site.baseurl}}/public/images/email_logo.svg"/></a>
    <a target="_blank" href='https://github.com/sus111'><img class='logo' src="{{site.baseurl}}/public/images/github_logo.svg"/></a>
    <a target="_blank" href='https://uk.linkedin.com/in/susan-graham-031354a7'>
    <img class='logo' src="{{site.baseurl}}/public/images/linkedIn_logo.svg"/></a>
  </div>
</div>
