<div class='header-background'>
  <div class='row header-overlay'>
    <div class='main-header row'>
        <div class='name-title col-xs-4'>
          <a href="{{site.baseurl}}/" class='link--hvr susan-graham'>
          <h2 class='susan-graham'>Susan Graham</h2>
          <h3 class='fed-header'>Front-End Developer</h3>
        </a>
        </div>
        <div class='links col-xs-4'>
          <a href="{{site.baseurl}}/about" class='link'>About</a>
          <a href="{{site.baseurl}}/projects" class='link'>Projects</a>
        </div>
        <div class='logos col-xs-4'>
          <a target="_blank" href='mailto:sgraham535@gmail.com'>
          <img class='logo email-logo' src="{{site.baseurl}}/public/images/email_logo.svg"/></a>
          <a target="_blank" href='https://github.com/sus111'><img class='logo' src="{{site.baseurl}}/public/images/github_logo.svg"/></a>
          <a target="_blank" href='https://uk.linkedin.com/in/susan-graham-031354a7'>
          <img class='logo' src="{{site.baseurl}}/public/images/linkedIn_logo.svg"/></a>
        </div>
      </div>

      <div class='mobile-header'>
        <h2 class='sg'><a href="{{site.baseurl}}/" class='sg'>Susan Graham</a></h2>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">About
          <span class="caret"></span></button>
          <ul class="dropdown-menu pull-right">
            <li><a href="{{site.baseurl}}/about">About</a></li>
            <li><a href="{{site.baseurl}}/projects">Projects</a></li>
          </ul>
        </div>
      </div>

  </div>
</div>
