.header-background {
  background-image: url('../images/pattern.jpg');
  width: 100vw;
}

.header-overlay {
  background-color: rgba(30, 50, 20, 0.2);
  max-height: 6.3em;
  text-align: center;
}

.row {
  margin: 0;
}

.main-header {
  display: flex;
  align-items: center;
  text-align: center;
}

.name-title {
  padding: 0 0 0.5em 3.5em;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.susan-graham {
  font: 'Montserrat', sans-serif;
  color: white;
  text-transform: uppercase;
  display: flex;
  margin-bottom: 0;
  text-decoration: none !important;
}

.susan-graham:hover{
  color: #f8d22f;
}

.fed-header {
  color: white;
  display: flex;
  font: 'Montserrat', sans-serif;
  margin-top: 0;
  text-decoration: none !important;
}

.fed-header:hover{
  color: #f8d22f;
}

.links {
  color: white;
  font: 18px Helvetica, bold;
  display: inline-block;
}

.link {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
  padding: 0 1.2em 0 1.2em;
  display: inline-block;
}

.link:hover{
  color: #F4546B;
}

.logo {
  height: 1.5em;
  padding: 0 .8em;
}

.logo:hover {
  cursor: pointer;
}

.dropdown {
  display: none;
}

.sg{
  display: none;
}

@media (max-width : 992px) {

  .link {
    padding: 0 .5em;
  }

  .susan-graham{
    font-size: 1.3em;
  }

  .fed-header {
    font-size: 1.1em;
  }

}

@media only screen and (max-width : 768px) {

  .link {
    padding: 0 .3em;
    font: 16px Helvetica, bold;
  }

  .links {
    font-size: 0.8em;
    display: inline-block;
  }

  .logos {
    display: inline-block;
  }

  .logo {
    height: 1.2em;
    padding: 0 .4em;
  }

  .susan-graham{
    font-size: 1.1em;
  }

  .fed-header {
    font-size: 0.9em;
  }

  .row {
    margin: 0;
  }

  .name-title {
    padding-left: 1.5em;
  }

}

@media (max-width: 500px) {

  .links {
    display: none;
  }

  .logos {
    display: none;
  }

  .main-header {
    display: none;
  }

  .dropdown {
    display: inline-block;
    margin: 1.5em;
  }

  .mobile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sg {
    display: inline-flex;
    padding: .25em 0 0 1em;
    color: white;
    font-size: large;
    text-decoration: none !important
  }

  .sg:hover{
    color: #f8d22f;
  }

}
